<div class="row">
    <div class="col-md-12">
        <br/><br/>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <h1>Boekingen</h1>
    </div>
    <div class="col-md-10">
        <div class=text-right><p class="lead"><a href="" id="linkAddBooking"><font color="#ff3385"><b>Boeking toevoegen</b></font></a></p></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <br/>
    </div>
</div>
<div class="row">
    <table class="table table-hover" id="table">
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Voornaam</th>
            <th>Achternaam</th>
            <th>Kamernummer</th>
            <th>Van</th>
            <th>Tot</th>
            <th>Betaald</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div class="modal fade" id="bookingModal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Boeking toevoegen</h4>
            </div>
            <form>
                <div class="modal-body">
                    <input type="hidden" id="id">
                    <div class="form-group row">
                        <label for="guestID" class="col-sm-4 col-form-label">Guest ID:</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="guestID" placeholder="Aaricia">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="roomID" class="col-sm-4 col-form-label">Room ID:</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="roomID" placeholder="101">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="startDate" class="col-sm-4 col-form-label">Van:</label>
                        <div class="col-sm-8">
                            <input type="date" class="form-control" id="startDate">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="stopDate" class="col-sm-4 col-form-label">Tot:</label>
                        <div class="col-sm-8">
                            <input type="date" class="form-control" id="stopDate">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="paid" class="col-sm-4 col-form-label">Betaald:</label>
                        <div class="col-sm-8">
                            <select id="paid">
                                <option val="0">Betaald</option>
                                <option val="1">Niet betaald</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type='button' id='btnAddBooking' class='btn btn-primary'>Voeg toe</button>
                    <button type='button' id='btnUpdateBooking' class='btn btn-primary'>Pas aan</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="js/bookings.js"></script>