<html>
<head>
    <title>Home page</title>
    <link href="css/home.css" rel="stylesheet">
</head>
<body>
<div class="row">
    <div class="col-md-0">
        <br/>
    </div>
    <div class="col-md-12">
        <br/><br/>
        <center><h1>Welkom</h1></center>
        <br/><br/>
    </div>
</div>
<div class="row">
    <div class="col-md-0">
        <br/>
    </div>
    <div class="col-md-12">
        <center><img src="https://www.valamar.com/cmsmedia/objekti/porec/zagrebhotel/topici/pregled/valamar-zagreb-hotel-01.jpg" style="width:1110px;height:371px;"></center>
    </div>
</div>
</body>
</html>
